<link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
</html>
    <head>
        <title></title>
        <script src="../script/cadastro.js"></script>    
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen" />        
    </head>
    <body>
       
        <section class="form">
          
            <div>
                <form>
                    <h1 style="text-align: center;">Faça login</h1>


                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Email">

                
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                   
                    <input type="button" value="Submit" onclick="fazerLogin()">

                </form>
            </div>

        </section>

        <footer> 
            <h1> </h1>
        </footer>

        <script src="../script/login.js"></script>

    </body>
</html>

   </body>
</html>

