<link rel="shortcut icon" href="img/endereco.png" type="image/x-icon">
</html>
    <head>
        <title></title>
        <script src="../script/cadastro.js"></script>    
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen" />        
    </head>
    <body>
        <header>
            <a href="../index.html">Logo</a>
            <ul>
                <li><a href="cadastro.html">Cadastro</li></a>
            </ul>
        </header>
        <section class="form">
            <h1 style="text-align: center;">Faça login</h1>
            <div>
                <form>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Email">

                
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                   
                    <input type="button" value="Submit" onclick="fazerLogin()">

                </form>
            </div>

        </section>

        <script src="../script/login.js"></script>

    </body>
</html>

   </body>
</html>

