@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
   min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(130, 106, 251);  
   
    margin: 0 auto;
    max-width: 400px;        
    grid-gap: 20px;  
        
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(44, 44, 44) ;

}

.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500px;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;    
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;    
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
  
input[type=button] {
    width: 100%;
    background-color:  rgb(83, 53, 238);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


  
